.container {
    text-align: center;

    .input-autocomplete {
        height: 60px;
        font-size: 25px;
        width: 50%;
        margin: 0 auto;
        margin-top: 10%;
        padding: 10px;
    }
}